<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Category</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Add New Category</h1>

    <form th:action="@{/categories}" th:object="${category}" method="post">
        <input type="text" th:field="*{name}" placeholder="Category Name" required>
        <input type="submit" value="Save Category">
    </form>

    <div class="text-center back-btn">
        <a href="/categories" class="btn btn-secondary">Back to Categories</a>
    </div>
</div>
</body>
</html>
