<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>All Books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <h1>All Books</h1>

        <p>Logged in as: <strong sec:authentication="name"></strong></p>

        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/books/edit/' + ${book.id}}">Edit</a>
                    <span sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-danger" th:href="@{'/books/delete/' + ${book.id}}">Delete</a>
                    </span>
                </td>
            </tr>
        </table>

        <div class="text-center back-btn">
            <a class="btn btn-success" href="/books/new">Add New Book</a>
            <a class="btn btn-secondary" href="/">Back to Home</a>

            <!-- Logout POST-formi -->
            <form th:action="@{/logout}" method="post" style="display:inline">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</body>

</html>