<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Book</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <h1>Edit Book</h1>

        <form th:action="@{/books}" th:object="${book}" method="post">

            <input type="hidden" th:field="*{id}">

            <input type="text" th:field="*{title}" required>
            <input type="text" th:field="*{author}" required>
            <input type="number" th:field="*{publicationYear}" <select th:field="*{category}">
            <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat.name}">
            </option>
            </select>

            <input type="submit" value="Update Book">
        </form>

        <div class="text-center back-btn">
            <a href="/books" class="btn btn-secondary">Back to Books</a>
        </div>
    </div>
</body>

</html>