<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <h1>Bookstore Management</h1>

        <div class="text-center">
            <a href="/books" class="btn btn-primary">View All Books</a>
            <a href="/books/new" class="btn btn-success">Add New Book</a>
            <a href="/categories" class="btn btn-primary">View All Categories</a>
            <a href="/categories/new" class="btn btn-success">Add New Category</a>
        </div>
    </div>
</body>

</html>