<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
</head>

<body>
    <h1>Kirja</h1>

    <p><strong>Title:</strong> <span th:text="${book.title}"></span></p>
    <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
    <p><strong>Year:</strong> <span th:text="${book.publicationYear}"></span></p>
    <p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
    <p><strong>Price:</strong> $<span th:text="${book.price}"></span></p>

</body>

</html>